# EPPs and Shocks

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/01_raw/Shocks_Database_counts.csv")

In [4]:
df.head()

  Country name  Year Shock category           Shock type  count
0  Afghanistan  1971       CLIMATIC              Drought      1
1  Afghanistan  1971       CLIMATIC  Mass movement (wet)      1
2  Afghanistan  1972       CLIMATIC                Flood      1
3  Afghanistan  1972    GEOPHYSICAL           Earthquake      1
4  Afghanistan  1973      CONFLICTS     Terrorist attack      1